.user{
    margin:50px auto 0px auto;
    width:1017px;
    height:150px;
    display:flex;
}

.user img{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: #D9D9D9;
    overflow: hidden;
    display:flex;
}

.user__name{
    margin:auto 0px auto 50px;
    width:auto;
    height:65px;
    font-size:36px;
    font-weight:bold;
}

.user form{
    margin:auto 0px auto auto;
    width:auto;
    height:65px;
    display:flex;
}

.user button{
    width:auto;
    height:65px;
    font-size:26px;
    font-weight:bold;
    color:#FF5555;
    border:2px solid #FF5555;
    border-radius:10px;
    background-color: white;
    text-align:right;
    align-items: center;
    display:flex;
}

.tab{
    margin-top:47px;
    width:auto;
    height:47px;
    display:flex;
}

.tab__recommend-button{
    margin-left:129px;
    width:auto;
    height:40px;
    text-align: right;
    font-size:24px;
    color:#5F5F5F;
    background-color: white;
    border:none;
}

.tab__mylist-button{
    margin-left:64.5px;
    width:auto;
    height:40px;
    text-align: right;
    font-size:24px;
    color:#5F5F5F;
    background-color: white;
    border:none;
}

.items{
    width:auto;
    height:auto;
    display: flex;
}

.items table{
    width:1013.01px;
    height:auto;
    margin:35px auto 35px auto;
}

.table__tr{
    height:320px;
    display:flex;
    margin:35px 0px 0px 0px;
}

.table__td-card{
    display:flex;
    flex-direction: column;
    width:290px;
    height:320px;
    margin:0px 35px 0px 35px;
    background-color: white;
    border:none;
    color:black;
    text-decoration: none;
}

.table__td-image{
    width:100%;
    height:281.27px;
    background-color: #D9D9D9;
}
.table__td-image img{
    width:100%;
    height:100%;
    background-color: #D9D9D9;
    object-fit: cover;
}

.table__td-name{
    font-size:25px;
    font-weight:400px;
    text-align: left;
}


