.form{
    width:680px;
    height:900px;
    margin: 80px auto 0px auto;
}

.form__title{
    width:299px;
    height:47.58px;
    display:flex;
    margin: 0px auto 0px auto;
    font-size:36px;
    font-weight:bold;
}

.form__contents{
    display:block;
    width:680px;
    height:auto;
    padding:35px 0px 70px 0px;
}

.form__contents-icon{
    width:680px;
    height:150px;
    margin:35px 0px 0px 0px;
    font-size:24px;
    font-weight: bold;
    display:flex;
}

.form__contents-iconImage{
    min-width:150px;
    min-height:150px;
    max-width:150px;
    max-height:150px;
    border-radius:50%;
    background-color: #D9D9D9;
    overflow: hidden;
    display:flex;
}

.form__contents-iconImage img{
    margin:0px auto 0px auto;
    min-width:150px;
    min-height:150px;
    max-width:150px;
    max-height:150px;
    object-fit: cover;
    object-position: center;
}
.form__contents-upload{
    width:209px;
    height:150px;
    margin:auto 0px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contents-button{
    width:179px;
    height:49px;
    margin:auto 0px auto 30px;
    color:#FF5555;
    background-color: white;
    border:1px solid #FF5555;
    border-radius:10px;
    font-size:20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contents-title{
    width:680px;
    height:35px;
    margin:35px 0px 0px 0px;
    font-size:24px;
    font-weight: bold;
}

.form__contents-input input{
    width:680px;
    height:59px;
    font-size:24px;
    border:1px solid #5F5F5F;
    border-radius:4px;
}

.form__contents-error{
    height:10px;
    color:red;
    font-size:16px;
}

.button{
    width:680px;
    height:150px;
    margin: 0px auto 50px auto;
}

.button button{
    width:680px;
    height:68.25px;
    font-size:26px;
    font-weight: bold;
    color:white;
    background-color: #FF5555;
    border:1px;
    border-radius:5px;
}

.login{
    width:257px;
    height:53.29px;
    font-size:20px;
    color: #0073EC;
    margin: 10px auto 53.29px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
